@model IEnumerable<Matrix_Test.Models.Item>

<!-- Book Mark Page - Show all saved repo from the Session -->

<div class="container">
    <div class="text-center p-3">
        <h1 style="color:#ea4164">BookMark list</h1>
    </div>
    <div class="row">
        @{
            if (Model != null)
            {
                foreach (var item in Model)
                {
                    <div class="text-center col-sm-4 p-2 ">
                        @{
                            Html.RenderPartial("_itemView", item);  // Render the Repo Partial View
                        }
                    </div>
                }
            }
            else
            {
                <div class="text-center col-sm-12">
                    <h3>
                        <i class="text-light">No bookmarks yet..</i>
                    </h3>
                </div>
            }
        }
    </div>
</div>